h1 {
    color:blue;
    text-align: center;
}

/* TODO: fix container and grid alignment--see bottom of container and grid*/

#container {
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.grid {
    height: 26px;
    width: 26px;
    border: 1px solid black;
}