body {
    box-sizing: border-box;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    background-color: darkslategrey;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    margin: auto;
    align-content: center;
    border: 5px solid black;
}

.grid {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}